@import "global";
@import "variables";

.container {
	max-width: 1320px;
	margin: 0px auto;
	padding: 0px 10px;
}
//====================================
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 666;
	background-color: $white;
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 120px;
	align-items: center;
}
.header__logo {
	font-size: 36px;
}
.headere__burger {
	display: none;
}
.header__menu {
}
.header__list {
	display: flex;
}
.header__list li {
	margin-left: 30px;
}
.header__link {
	font-size: 24px;
	color: $black;
	&:hover {
		opacity: 0.6;
	}
}
.button__sing {
	padding: 15px;
	background-color: $blue;
	color: $white;
	border-radius: 4px;

	&:hover {
		opacity: 0.6;
	}
}
.section__page {
	position: relative;
	margin-top: 150px;
}
.section__page__car {
}
.section__page__title {
	h1 {
		position: absolute;
		top: 150px;
		left: 110px;
		width: 650px;
		font-weight: 800;
		font-size: 64px;
		color: $white;
	}
}
.section__page__text {
	position: absolute;
	top: 310px;
	left: 110px;
	width: 420px;
	font-weight: 600;
	color: $white;
}
.main__search {
	position: relative;
	display: flex;
	width: 1096px;
	height: 140px;
	background-color: #fff;
	margin-top: -80px;
	z-index: 200;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
	border-radius: 100px;

	h3 {
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-weight: 800;
	}
	input {
		width: 200px;
		height: 56px;
		border-radius: 4px;
		color: #bbc8d4;
		color: #bbc8d4;
		border: 2px solid #bbc8d4;
		border-radius: 4px;
		margin-bottom: 20px;
	}
}
.main__search__location {
	margin-left: 90px;

	select {
		margin-bottom: 20px;
		width: 200px;
		height: 56px;
		border: 2px solid #bbc8d4;
		box-sizing: border-box;
		border-radius: 4px;
		color: #bbc8d4;
	}
}
.main__search__update {
}
.main__search__date {
}
.main__search__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 137px;
	height: 56px;
	margin-right: 60px;
	color: $white;
	background-color: $blue;
	border-radius: 4px;
}
.section__logoipsum {
	margin-top: 165px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 0;
}
.container {
}
.section__logoipsum__link {
}
//======================================= slider===========
.slider {
	margin-top: 100px;
}
.slider__title {
	font-weight: 800;
	font-size: 64px;
	text-align: center;
}
.slider__block {
	display: flex;
	justify-content: space-between;
}
.slider__block__item {
	position: relative;
	margin: 100px 20px 200px 20px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
	width: 425px;
	.slider__block__item__img {
		margin: 37px 55px 20px 55px;
	}
	span {
		display: block;
		height: 1px;
	}
}
.slider__block__item__title {
	font-weight: 800;
	font-size: 36px;
	text-align: center;
}
.slider__block__item__list {
}
.slider__block__item__item {
	display: flex;
	align-items: center;
	margin-left: 40px;
	margin-top: 20px;
	p {
		margin-left: 14px;
	}
}
.slider__block__item__button {
	margin: 40px 0px 40px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 137px;
	height: 56px;
	margin-right: 60px;
	background-color: $blue;
	border-radius: 4px;
	a {
		color: $white;
	}
}
//===========================
/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track {
	display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	position: absolute;
	font-size: 0;
	background-color: $blue;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
	right: 150px;
	z-index: 500;
	&::before {
		content: url(/app/img/arrow_back_ios_24px.svg);
	}
}
/* Стрелка вправо */
.slick-arrow.slick-next {
	right: 50px;
	&::before {
		content: url(/app/img/arrow_forward_ios_24px.svg);
	}
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}
////===============================

.section__different {
}

.section__different__title {
	margin-bottom: 15px;
	h3 {
		text-align: center;
		font-weight: 800;
		font-size: 64px;
		line-height: 70px;
	}
}
.section__different__text {
	width: 576px;
	margin: 0 auto;
	font-weight: 600;
	line-height: 29px;
	text-align: center;
	opacity: 0.5;
}
.section__different__block {
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}
.section__different__item {
	width: 423px;
	height: 545px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.section__different__item__img {
	margin: 40px 157px 73px 158px;
}
.section__different__item__title {
	font-size: 32px;
	line-height: 40px;
	text-align: center;
}
.section__different__item__text {
	font-weight: 600;
	line-height: 29px;
	text-align: center;
	margin: 15px 33px 145px 35px;
}
////==========================================article
.section__article {
	margin-top: 234px;
	background-color: #fafafa;
}
.section__article__title {
	padding-top: 50px;
	padding-bottom: 15px;
	font-weight: 800;
	font-size: 64px;
	line-height: 70px;
	text-align: center;
}
.section__article__text {
	width: 576px;
	margin: 0 auto;
	font-weight: 600;
	font-size: 18px;
	line-height: 29px;
	text-align: center;

	color: #000000;

	opacity: 0.5;
}
.section__article__block {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	padding-bottom: 50px;
}
.section__article__block__img {
	img {
		width: 637px;
		height: 682px;
	}
}
.section__article__block__article {
	width: 637px;
	height: 682px;
	border-radius: 4px;
	background-color: $blue;
	article {
		margin: 116px 88px 45px 97px;
		font-size: 24px;
		line-height: 40px;
		color: $white;
	}
}
.section__article__block__article__line {
	margin-left: 97px;
	width: 264px;
	border: 1px solid #ffffff;
}
.section__article__block__article__author {
	margin-left: 97px;
	font-weight: 700;
	font-size: 24px;
	line-height: 35px;
	color: $white;
}
//============== cards========
.blog__cards {
	margin-top: 88px;
	background-color: #fafafa;
	padding-bottom: 180px;
}
.blog__cards__title {
	padding-top: 114px;
	padding-bottom: 100px;
	font-weight: 800;
	font-size: 64px;
	line-height: 70px;
	text-align: center;
}
.blog__cards__block {
	display: flex;
	justify-content: space-between;
}
.blog__cards__block__item {
	background-color: $white;
	width: 423px;
}
.blog__cards__block__item__igm {
	img {
	}
}
.blog__cards__block__item__button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $blue;
	width: 88px;
	height: 31px;
	border-radius: 100px;
	color: $white;
}
.blog__cards__block__item__title {
	width: 357px;
	font-size: 32px;
	line-height: 36px;
}
.blog__cards__block__item__text {
	width: 344px;
	line-height: 163.15%;
	opacity: 0.5;
}
.blog__cards__block__item__find {
	padding: 40px 0px;
	a {
		display: flex;
		color: $black;
	}
	img {
		margin-left: 5px;
	}
}
.cta__section {
	margin-top: 100px;
	margin-bottom: 100px;
	padding-bottom: 126px;
	background-color: $blue;
	border-radius: 10px;
}
.cta__section__title {
	h2 {
		padding-top: 57px;
		font-weight: 800;
		font-size: 64px;
		line-height: 70px;

		text-align: center;

		color: #ffffff;
	}
}
.cta__section_1 {
	margin-top: 60px;

	display: flex;
	width: 1096px;
	height: 140px;
	background-color: #fff;

	z-index: 200;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
	border-radius: 100px;

	h3 {
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-weight: 800;
	}
	input {
		width: 200px;
		height: 56px;
		border-radius: 4px;
		color: #bbc8d4;
		color: #bbc8d4;
		border: 2px solid #bbc8d4;
		border-radius: 4px;
		margin-bottom: 20px;
	}
}
.cta__section__location {
	margin-left: 90px;

	select {
		margin-bottom: 20px;
		width: 200px;
		height: 56px;
		border: 2px solid #bbc8d4;
		box-sizing: border-box;
		border-radius: 4px;
		color: #bbc8d4;
	}
}
.cta__section__update {
}
.cta__section__date {
}
.cta__section__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 137px;
	height: 56px;
	margin-right: 60px;
	color: $white;
	background-color: $blue;
	border-radius: 4px;
}
// footer
.footer {
	background-color: #eceef4;
}

.footer__block {
	padding-top: 55px;
	display: flex;
	justify-content: space-between;
	h6 {
		font-weight: 500;
		line-height: 19px;
		margin-bottom: 20px;
	}
	li {
		margin-bottom: 10px;
		font-size: 13px;
		line-height: 22px;

		opacity: 0.6;
	}
}

.footer__block__logo {
	h5 {
		font-weight: 700;
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 20px;
	}
}
.footer__block__logo__title {
	font-weight: 500;
	font-size: 40px;
	line-height: 19px;
}
.footer__block__logo__text {
	font-size: 15px;
	line-height: 22px;

	opacity: 0.6;
}
.footer__block__logo__copyright {
	margin-top: 250px;
	margin-bottom: 30px;
	font-size: 13px;
	line-height: 19px;
	opacity: 0.4;
}

.footer__block__subscribe {
	input {
		width: 320px;
		height: 54px;
		padding-left: 20px;
		border: 2px solid #bbc8d4;
		box-sizing: border-box;
		border-radius: 4px;
	}
}
.footer__block__subscribe__title {
}
.footer__block__subscribe__list {
}
